.edit-rollback {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAD1BMVEUZAAB5eXnY2Niqqqr///8Jvb+KAAAAAXRSTlMAQObYZgAAACZJREFUeNqNzCECAAAExVDD/c9M+BTF0kszha1g5IAU/lLSEpNzLA1wAEXbejm9AAAAAElFTkSuQmCC') no-repeat;
    cursor: pointer;
}
