.revisionpatrol-patrolled,
.revisionpatrol-autopatrolled,
.revisionpatrol-unpatrolled,
.revisionpatrol-unpatrollable {
	position: relative;
	list-style: none;
}

.revisionpatrol-icon-patrolled::before,
.revisionpatrol-icon-autopatrolled::before {
	position: absolute;
	left: -1.15em;
	cursor: help;
	text-decoration: underline dotted;
}
.revisionpatrol-icon-unpatrolled::before,
.revisionpatrol-icon-unpatrollable::before {
	position: absolute;
	left: -0.8em;
	margin-left: -1px;
	cursor: help;
	text-decoration: underline dotted;
}

.diff .revisionpatrol-icon-patrolled::before,
.diff .revisionpatrol-icon-autopatrolled::before,
.diff .revisionpatrol-icon-unpatrolled::before,
.diff .revisionpatrol-icon-unpatrollable::before {
	top: -0.2em;
}

.revisionpatrol-icon-patrolled::before,
.revisionpatrol-icon-patrolled-legend::before {
	content: "✔";
	color: green;
	font-weight: normal;
	font-family: sans-serif;
}
.revisionpatrol-icon-autopatrolled::before,
.revisionpatrol-icon-autopatrolled-legend::before {
	content: "✔";
	color: blue;
	font-weight: normal;
	font-family: sans-serif;
}
.revisionpatrol-icon-unpatrolled::before,
.revisionpatrol-icon-unpatrolled-legend::before {
	content: "!";
	color: red;
	font-weight: bold;
	font-family: sans-serif;
}
.revisionpatrol-icon-unpatrollable::before,
.revisionpatrol-icon-unpatrollable-legend::before {
	content: "▪";
	text-decoration: none;
	cursor: default;
	font-family: sans-serif;
}
