.edit-rollback {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAD1BMVEUZAAB5eXnY2Niqqqr///8Jvb+KAAAAAXRSTlMAQObYZgAAACZJREFUeNqNzCECAAAExVDD/c9M+BTF0kszha1g5IAU/lLSEpNzLA1wAEXbejm9AAAAAElFTkSuQmCC') no-repeat;
    cursor: pointer;
}
#rollback-summary {
    display: flex;
    align-items: center;
    position: absolute;
    left: 1em;
    right: 1em;
    padding: 0.8em;
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    z-index: 99;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.wgl-theme-dark #rollback-summary {
    background-color: #353535;
}
#rollback-summary > *:first-child {
    flex: auto;
    margin-right: 1em;
}
#rollback-summary > .rollback-submit-button {
    flex: none;
}
